/*======= Service Styles =======*/
.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 35px;
}
.services .service {
  padding: 0 30px;
  padding-top: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
}
.services .service .service__inner {
  padding: 30px 35px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.services .service .service__inner .service__icon {
  margin-bottom: 25px;
  position: relative;
}
.services .service .service__inner .service__icon span {
  position: relative;
  font-size: 52px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.services .service .service__inner .service__icon span:first-child {
  opacity: 1;
}
.services .service .service__inner .service__icon span:last-child {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.services .service .service__inner .service__content h4 {
  font-size: 22px;
  font-weight: 400;
  display: block;
  position: relative;
  padding-bottom: 13px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.services .service .service__inner .service__content h4:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.services .service .service__inner .service__content p {
  margin-top: 12px;
  margin-bottom: 0;
}
.services .service .service__inner:hover {
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}
.services .service .service__inner:hover .service__icon span {
  background: -webkit-linear-gradient(90deg, #e51515 0%, #c60de1 100%);
  background: -moz-linear-gradient(90deg, #e51515 0%, #c60de1 100%);
  background: -ms-linear-gradient(90deg, #e51515 0%, #c60de1 100%);
  background: -o-linear-gradient(90deg, #e51515 0%, #c60de1 100%);
  background: linear-gradient(90deg, #e51515 0%, #c60de1 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgb(229, 21, 21), endColorstr=rgb(198,13,225));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=rgb(229, 21, 21), endColorstr=rgb(198,13,225))";
}
.services .service .service__inner:hover .service__icon span:first-child {
  opacity: 0;
}
.services .service .service__inner:hover .service__icon span:last-child {
  opacity: 1;
}
.services .service .service__inner:hover .service__content h4 {
  color: #e51515;
}
.services .service .service__inner:hover .service__content h4:before {
  width: 100%;
  background: #e51515;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .services {
    margin: 0;
  }
  .services .service {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services {
    margin: 0;
  }
  .services .service {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 767px) {
  .services {
    margin: 0;
  }
  .services .service {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 575px) {
  .services .service {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

/*# sourceMappingURL=service.css.map */
